body {

	overflow: hidden;

	}

.container {
    width:100%;
    position:absolute;
    z-index:-1;
    height: 320px;
    top: 0;
    bottom: 0;
    margin: auto;

}

.box {
	   display: none;
    margin:0 auto;
}

	img {
	display:inline-block;
	width: 20%;
	height: 20%;

}

.squar {
	background-color: FF69B4;
}